.contactheading{
    display: flex;
    align-items: center;
    justify-content: center;
    background:lightgreen;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.northwalacontact{
    height: 400px;
    min-width: 100vw;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.northwalacontact a{
    padding: 7px;
    background-color: grey;
    margin: 10px;
    border-radius: 10px;
    color: white;
}
